<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Estatus alumno</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>Ingresa las notas y la asistencia </h1>
    <form action="/notas" method="POST">
        <label for="nota1">Nota 1:</label><br>
        <input type="number" id="nota1" name="nota1" min="10" max="70" required>
        <br>
        <label for="nota2">Nota 2: </label><br>
        <input type="number" id="nota2" name="nota2" min="10" max="70" required>
        <br>
        <label for="nota3">Nota 3: </label><br>
        <input type="number" id="nota3" name="nota3" min="10" max="70" required>
        <br>
        <label for="asistencia">Asistencia (%): </label><br>
        <input type="number" id="asistencia" name="asistencia" min="0" max="100" required>
        <br>
        <button type="submit">Enviar</button>
    </form>
    {% if promedio is not none and asistencia is not none %}
    <div>
        <p>El promedio es: {{ promedio }}</p> 
    </div>
    {% if promedio >= 40 and asistencia >= 75 %}
    <div>
        <p>Aprobado</p> 
    </div>
    {% else %}
    <div>
        <p>Reprobado</p> 
    </div>
    {% endif %}
    {% endif %}
    
</body>
</html>